/* BUTTON */

button, input[type="submit"] {
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.button-create {
  border-radius: 50px;
  background-color: #0087fd;
}

.button-delete {
  background-color: #FA3F24;
}

#btn-create-movie{
  float: right;
}
