/* SECTION PRINCIPAL */

h1 {
  margin-bottom: 70px;
  text-align: center;
}

.content-boxs {
  justify-content: center;
  display: flex;

  form {
    border-right: solid 2px;
    flex-direction: column;
    padding-right: 50px;
    display: flex;

    label {
      
    }

    input[type="text"], input[type="tel"] {
      border-radius: 14px;
      margin-bottom: 15px;
      border: solid 0.5px;
      padding: 10px;
    }
  }

  table {
    padding-left: 50px;
    width: 600px;
  }
}
