/* BASE */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
  font-size: 16px;
}

input,
select,
textarea {
  font-family: 'Ubuntu', sans-serif;
}

body.no-scroll {
  overflow: hidden;
  height: 1vh;
}

#my-info {
  background-color: #0087fd;
}
